div.redred{
    margin: 40px auto;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 30px;
    color : #C63C4C;
    font-size: 40px;
    text-align: center;
    background-color: #302929;
    border-color: palevioletred;
    border: 10px solid;
    background-image: url(../assets/img/background.jpg);
    
}

.blueblue{
    color:rgb(209, 57, 80);
}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    background-color:rgba(199,205,241,0.5);
    font-family: 'Noto serif TC',sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:'Noto Senif TC',sans-serif;
}

.expedu_icon{
    color: palevioletred
}

.expedu_icon:hover{
    background-color: bisque;
    color: black

}

ol.zhanjilist>li:hover{
    background-color: #302929;
    color:#d1cfcf;
}

table.zhanjitable{ 
    width: 80%;
    background-color:#ceb0b0;
}

table.zhanjitable th{
    text-align:center;
    background-color:#b19696;
    border:1px solid #302929;
    justify-content: center;
    align-items: center;

}

table.zhanjitable td{
    text-align:center;
    border:1px solid #302929;
    justify-content: center;
    align-items: center;
}

#about{
    background-image: url(../assets/img/background01.jpg);
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.9;

}

